footer {
    width: 100%;
    bottom: 1rem;
    margin-top: 10px;
    padding: 0 1.5rem;
}

#footer{
    position: absolute;
}

.container{
    margin: 0 auto;
    max-width: 1200px;

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* -webkit para que navegadores como google o safari lo soporten */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06),
        0 0 0 1px rgba(255, 255, 255, 0.3) inset;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-link{
    text-decoration: none;
    color: #111827;
    text-decoration-line: none;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer-text{
    margin-top: 10px;
}