/* Estilos de la sección de filtros */
.filters {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

select {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos de las ofertas destacadas */
.offers {
    margin: 40px 20px;
}

.offer-carousel {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.offer-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.offer-item p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.offer-item button {
    background-color: gainsboro;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.offer-item button:hover {
    background-color: gainsboro;
}

/* Estilos de la lista de productos */
.product-list {
    margin: 40px 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.product-item button {
    background-color: gainsboro;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: gainsboro;
}